@import url(https://fonts.googleapis.com/css?family=Reenie+Beanie:regular);
@import url(https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text:regular);

.question {
    font-family: "Reenie Beanie";
}

.MyClockStyle {
    font-family: "Libre Barcode 39 Text";
}

.start-trial {
    font-family: "Reenie Beanie";
}

.Answers {
    font-family: "Reenie Beanie";
}

pre , h1 , h2 {
    font-family: "Reenie Beanie";
}